{% extends "base.html" %}
{% block content %}

<div class="row mt-5">
  <div class="col-12 text-center">
    <br/>
    <h1> Myboard Details </h1>
  </div>
</div>


<div class="row mt-5">
  <div class="col-12">
    <div class="form-group">
       <label for="title">제목</label>
      <input
        type="text"
        class="form-control"
        id="title"
        value="{{ board.title }}"
        readonly
      />
      <br/>
      <label for="contents">내용</label>
      <textarea class="form-control" id="content" readonly>{{ board.contents }}</textarea>
    </div>
    <br/>
    <button class="btn btn-primary" onclick="location.href='/board/list/'">돌아가기</button>
    <button class="btn btn-primary" onclick="location.href='/board/update/{{ board.pk }}/'" >수정하기</button>
    <button class="btn btn-primary" onclick="location.href='/board/detail/{{ board.pk }}/delete/'">삭제하기</button>
  
    <!-- <a href="{% url 'update' board.id %}">update</a> -->
    <!-- <a href="/board/detail/{{ board.pk }}/delete/">delete</a> -->

    
  </form>
  </div>
</div>
{% endblock %}